@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button{
        @apply border px-4 py-2 rounded-full hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out cursor-pointer
    }
}


@media screen and (max-width: 600px) {
    .rdrDateRangePickerWrapper {
        display: inline-flex;
        /* -webkit-user-select: none; */
        -moz-user-select: none;
        /* user-select: none; */
        flex-direction: column-reverse !important;
        align-items: center !important;
    }

    .rdrDefinedRangesWrapper {
        display: none !important;
        flex: none !important;
        font-size: 12px;
        width: 226px;
        border-right: solid 1px #eff2f7;
        background: #fff;
    }
    
  }

/* Google map */

